@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
    font-family: Montserrat, serif;
}

* {
    margin: 0;
    padding: 0;
 }

.raz {
    margin-top: 10px;
    margin-left: 90px;
}